.banner1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.gif {
    display: flex;
    align-items: center;
}

.gif img {
    width: 500px;
    height: 300px;
    display: flex;
}

.texto h4 {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 600;
    color: #1DD882;
}

.social {
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social h4 {
    margin-top: 1.2rem;
    font-size: 42px;
    font-weight: 600;
    color: #1DD882;
}

.container-slider {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 24px 24px;
}

.slider {
    display: flex;

}

.slide {
    height: auto;
    width: auto;
}

.slide .texto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.slide .texto p {
    color: black;
    width: 700px;
}

.slide i {
    margin-bottom: 1.2rem;
    font-size: 28px;
    font-weight: 300;
    color: #000000;
}

 .slide {
    display: none;
}

.slide {
    display: none;
}

.proximo-slide {
  display:block;
}


.social2 {
    height: auto;
    background-color: #000000;
    display: flex;
    align-items: center;
}

.social2 .container {
    margin: 0 auto;
}


.social2 .content {
    display: flex;
    flex-direction: column;
}

.social2 .content h4 {
    margin-bottom: 5rem;
    font-size: 55px;
    font-weight: 600;
    color: #1DD882;
    display: flex;
    justify-content: center;
}

.social2 .conteudo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.social2 .texto {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.social2 .conteudo p {
    width: 700px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #1DD882;
}