.banner1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.gif {
    display: flex;
    align-items: center;
}

.gif img {
    width: 500px;
    height: 300px;
    display: flex;
}

.texto h4 {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 600;
    color: #1DD882;
}

.social {
    height: auto;
    padding: 10px 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social h4 {
    font-size: 42px;
    font-weight: 600;
    color: #1DD882;
}

.container-slider {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 0;
    padding: 24px 24px;
}

.slide {
    padding: 100px 60px;
    height: 300px;
    width: auto;
    display: none;
    box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.25)
}

.slide img {
    margin-right: 70px;
}

.slide .texto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.slide .texto p {
    color: black;
    width: 700px;
}

.slide i {
    margin-bottom: 1.2rem;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}

.social a {
    color: #000000;
}

.proximo-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-left,
.arrow-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    border: none;
    outline: none;
    z-index: 3;

}

.arrow-right {
    right: 0;
    left: auto;
    border-radius: 3px 0 0 3px;
}

.arrow-left {
    left: 0;
    right: auto;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.video h3 {
    font-size: 42px;
    font-weight: 600;
    color: #1DD882;
    margin-bottom: 30px;
}

.social2 {
    height: auto;
    background-color: #000000;
    display: flex;
    align-items: center;
}

.social2 .container {
    margin: 0 auto;
}


.social2 .content {
    display: flex;
    flex-direction: column;
}

.social2 .content h4 {
    margin-bottom: 5rem;
    font-size: 55px;
    font-weight: 600;
    color: #1DD882;
    display: flex;
    justify-content: center;
}

.social2 .conteudo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.social2 .texto {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.social2 .conteudo p {
    width: 700px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #1DD882;
}