.banner {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.banner .container {
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video {
    width: auto;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 600px;
}

.texto h4 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #1DD882;
}