.content {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.cadastro .imagem {
    background-image: url("../assets/Captain-edit.jpg");
    background-size: cover;
    width: 80%;
    margin-left: 30%;
    position: relative;
}

.caixaFormulario {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #282828;
    width: 40%;
    height: 100%;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.caixaFormulario img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 40%;
}

.logo {
    display: flex;
    justify-content: center;
}

.caixaFormulario img {
    margin-bottom: 20px;
    width: 60%;
}

.caixaFormulario img {
    transition: all 0.8s;
}

.caixaFormulario img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.caixaFormulario h4 {
    margin-bottom: 0.8rem;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.campo {
    display: flex;
    flex-direction: column;
    width: auto;
}

.campo input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 8px;
    width: 400px;
    color: #ffffff;
}

.campo input:focus-visible {
    outline: none;
}

.caixaFormulario button {
    margin-top: 20px;
    width: 210px;
    height: 40px;
    background-color: #1DD882;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.caixaFormulario button:hover {
    opacity: 0.8;
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    top: 100px;
    left: 150px;
    width: 230px;
    position: absolute;
    border-radius: 4px;
    border: #1DD882 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    color: black !important;
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    margin-top: 40px ;
    display: none;
  }

.loading-div img {
    height: 70px;
    width: 70px;
}