@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

.background {
    background: linear-gradient(180deg, #000000 0%, #1B1B1B 50.52%, #000000 100%);
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    display: flex;
}

.navbar {
    position: fixed;
    height: 100vh;
    background: #282828;
    width: 100px;
    box-shadow: 6px 0 0 #1DD882;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.navbar:hover {
    width: 23%;
}

.navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
}

.navbar li {
    position: relative;
    list-style: none;
    width: 100%;
    margin-bottom: 17px;

}

.navbar li:hover {
    background: #1DD882;
}

.navbar a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
}

.navbar h3 {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 40px;
    text-align: center;
    transition: 0.5s;
}

.icone {
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
}

.label {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 60px;
    list-style: 60px;
    white-space: nowrap;
    font-size: 15px;
}

.ativo {
    background: #1DD882;
}

.imagem {
    height: 100vh;
    width: 100%;
}

.imagem1 {
    height: 100vh;
    width: 100%;
    display: flex;
}

.container1 {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 24px 24px;
    display: flex;
    justify-content: center;
}

.container1 h2 {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.container1 b {
    font-size: 36px;
    color: #1DD882;
    font-weight: 600;
}

.div-aguardar {
    position: absolute;
    display: none;
    margin: 0 0;
}

.div-aguardar img {
    height: 70px;
    width: 70px;
}

.container2 {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 24px 24px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 5%;
}

.conteudo b {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1DD882;
    margin-bottom: 5%;
}

.caixas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.config {
    width: 500px;
    height: 420px;
    background-color: #282828;
    box-shadow: 6px 4px 0px #1DD882;
    padding: 20px 20px;
}

.dashboard {
    width: 500px;
    height: 420px;
    background-color: #282828;
    box-shadow: 6px 4px 0px #1DD882;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dashboard h2 {
    font-size: 25px;
    font-weight: 600;
    color: #1DD882;
}

.graph {
    width: 90%;
    height: 75%;
}

.config h2 {
    font-size: 25px;
    font-weight: 600;
    color: #1DD882;
    margin-bottom: 40px;
}

.texto {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.texto p {
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
    width: 500px;
}

.texto p b {
    font-size: 14px;
    color: #1DD882;
    font-weight: 600;
}

.bt {
    width: 200px;
    height: 30px;
    background-color: #1DD882;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  }