.fundo {
  background: linear-gradient(180deg, #000000 0%, #1B1B1B 50.52%, #000000 100%);
  background-size: cover;
  width: 100%;
  display: flex;
}

.imagem .container {
  padding: 5% 20%
}

.container h1 {
  margin-bottom: 2%;
}

.container h1 {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 2%;
}

.container .titulo {
  font-size: 36px;
  color: #1DD882;
  font-weight: 600;
}

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
  color: black;
  height: 25px;
  margin-bottom: 3%;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  border: 3px solid #1DD882;
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-bottom: 3%;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #1DD882;
  width: 120px;
  margin-bottom: 3%;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #1DD882;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #1DD882;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #282828;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

.s1 {
  color:#1DD882;
  font-weight: 600;
}

.imagem input {
  padding: 0 5px;
}

.imagem textarea {
  padding: 0 5px;
}

.imagem input:focus-visible {
  outline: none;
}

.imagem textarea:focus-visible {
  outline: none;
}