.social2 {
    /* background: linear-gradient(180deg, #000000 0%, #1B1B1B 50.52%, #000000 100%); */
    background: black;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: auto;
}

.texto2 h4 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 600;
    color: #1DD882;
}

 .texto2 p {
    color: white;
    margin-bottom: 20px;
    width: 800px;
}