.social3 {
    height: auto;
    display: flex;
    justify-content: center;
}

.social3 .content {
    display: flex;
    justify-content: space-between;
}

.social3 .content img {
    margin-right: 100px;
}

.texto3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.social3 .content h4 {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 600;
    color: #1DD882;
}

.social3 .content h2 {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 600;
    color: #1DD882;
}

.social3 .content p {
    margin-bottom: 80px;
    color: black;
    font-size: 20px;
    width: 100%;
    text-align: justify;
}


.social3 .content b {
    color: #1DD882;
    font-weight: 600;
    text-align: center;
}

.botao3 {
    width: 200px;
    height: 60px;
    background-color: #1DD882;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.8s;
}

.botao3:hover {
    -webkit-transform: scale(1);
    transform: scale(1.07);
}
