@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #525252;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.banner {
    background-color: black;
    height: 60vh;
    padding: 12px 40px;
    display: flex;
    align-items: center;
}

.objeto {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.carrossel {
    display: flex;
    justify-content: center;
}

.carrossel img {
    width: 60%;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.texto button {
    height: 16%;
    width: 40%;
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background: #00D315;
}

.texto p {
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
}