@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #525252;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
    border-radius: 20px;
}

.header {
    background-color: #76B900;
    display: flex;
    height: 4vh;
    padding: 4px 4px;
}

.container {
    width: 95%;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {

    background-color: white;
}

.containerul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerul img {
    width: 40%;
    padding-right: 80px;
}

.textos {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.textos li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos a {
   
    text-decoration: none;
}

.nossosservicos {
    width: auto;
}